*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
}
/*-------------------------      navbar      ------------------------------------*/
.navbar{
	box-shadow: 0px 1px 3px gray;
}

.navbar-bg{
	background-color: #F0EFEB;
}

.nav-link-color{
	color: black !important;
	font-size: 1.1rem;
	background-color: transparent;
	border-radius: 8px;
	transition: background-color 0.7s , color 0.7s;
	margin: 0px 10px;
}

.nav-link-color:hover{
	color: white !important;
	background-color: #ba8b00;
}

.navbar-brand{
	font-family: Gigi;
	font-size: 3rem;
	line-height: 2px;
	color: #ba8b00 !important;
}
/*-------------------------     end style footer      ---------------------------*/






/*-------------------------      footer      ------------------------------------*/

.footer{
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F0EFEB;
	width: 100%;
	box-shadow: 0px -1px 3px gray;
	padding: 0px;
}

/*--  footer-copyright --*/
.footer-copyright{
	color: black;
	letter-spacing: 2px;
	font-family: -apple-system;
	font-size: 1.5rem;
}

.footer-copyright a{
	color: #ba8b00;
	text-decoration: none;
	transition: color 0.7s;
	font-family: "Script MT Bold";
}

.footer-copyright a:hover{
	color: darkred;
}

.footer-copyright::selection , .footer-copyright a::selection {
	color: cadetblue;
	background-color: white;
}
/*------------------------*/


/*--    footer-icon  --*/
.footer-icon{
	text-decoration: none;
	font-size: 25px;
	padding: 3px 10px;
	background-color: transparent;
	border-radius: 50%;
	margin: 0px 10px;
}

.footer-icon.facebook,.footer-icon.twitter,.footer-icon.paper{
	color: black;
	transition: color 0.7s;
}

.footer-icon.facebook:hover{
	color: darkblue;
}

.footer-icon.twitter:hover{
	color: dodgerblue;
}

.footer-icon.paper:hover{
	color: saddlebrown;
}
/*------------------------*/

/*-------------------------     end style footer      ------------------------------------*/
